  <!-- NAVBAR -->

  <app-navbar></app-navbar>

  <!-- SIDEMENU -->

  <app-sidemenu></app-sidemenu>

  <ngx-spinner  bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="cog"></ngx-spinner>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header" *ngIf="!projectAdded">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Nouveau projet</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="/home">Accueil</a></li>
                <li class="breadcrumb-item active">Ajout de projet</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content" *ngIf="!projectAdded">
        <form #newProject="ngForm">
          <div class="row">
            <div class="col-md-6">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Informations générales</h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label>Nom </label>
                    <input
                    [(ngModel)]="projectData.name"
                    name="pName"
                    type="text"
                     class="form-control"
                     required>
                  </div>
                  <div class="form-group">
                    <label >Description</label>
                    <textarea
                    [(ngModel)]="projectData.description"
                    name="desc"
                     class="form-control"
                     rows="4"
                     required></textarea>
                  </div>
                  <div class="form-group">
                    <label>Date de début</label>
                    <input
                    #sD (change)="setStartingDate(sD.value)"
                    type="date"
                    class="form-control"
                    required>
                  </div>
                  <div class="form-group">
                    <label >Date de fin</label>
                    <input
                    #eD (change)="setEndingDate(eD.value)"
                    type="date"
                    class="form-control"
                    required>
                  </div>
                  <div class="form-group" *ngIf="!noManagers && !isSecretary">
                    <label >Assigner un chef de projet</label>
                    <select
                    #man
                    (change)="setManager(man.value)"
                    [(ngModel)]="projectData.manager.name"
                    [ngModelOptions]="{standalone: true}"
                    name="clientSelect"
                    class="form-control"
                    required >
                      <option
                      *ngFor="let m of managerInfo"> {{m.fName}} {{m.lName}} </option>
                    </select>
                  </div>
                  <div class="form-group" *ngIf="noManagers && !isSecretary">
                    <label >Chef de projet</label>
                    <input
                    [(ngModel)]="projectData.manager.name"
                    name="manager"
                    type="text"
                    class="form-control"
                    required>
                  </div>
                  <!-- <div class="form-group">
                    <label for="inputStatus">Status</label>
                    <select id="inputStatus" class="form-control custom-select">
                      <option selected disabled>Select one</option>
                      <option>On Hold</option>
                      <option>Canceled</option>
                      <option>Success</option>
                    </select>
                  </div> -->
                  <!-- <div class="form-group">
                    <label for="inputProjectLeader">Project Leader</label>
                    <input type="text" id="inputProjectLeader" class="form-control">
                  </div> -->
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <div class="col-md-6">
              <div class="card card-secondary">
                <div class="card-header">
                  <h3 class="card-title">Autres informations </h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="form-group" *ngIf="noClients">
                    <label >Organisme client</label>
                    <input
                    [(ngModel)]="projectData.client"
                    name="client"
                    type="text"
                    class="form-control"
                    required>
                  </div>
                  <div class="form-group" *ngIf="!noClients">
                    <label >Organisme client</label>
                    <select
                    #n
                    (change)="setClientName(n.value)"
                    [(ngModel)]="projectData.client"
                    [ngModelOptions]="{standalone: true}"
                    name="clientSelect"
                    class="form-control"
                    required >
                      <option *ngFor="let name of clientNames"> {{name}} </option>
                    </select>
                  </div>
                  <div class="form-group" *ngIf="!isSecretary">
                    <label>Montant du projet (FCFA)</label>
                    <input
                    [(ngModel)]="projectData.amount"
                    name="amount"
                    type="number"
                    class="form-control"
                    required>
                  </div>

                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-12">
            <a routerLink="/home" class="btn btn-secondary">Annuler</a>
            <input
            [disabled]="!newProject.form.valid || projectData.starting === '' || projectData.ending === ''"
            (click)="createProject()"
            type="submit"
            value="Valider"
            class="btn btn-success float-right">
          </div>
        </div>
        <div id="err" style="display: none; margin-top: 5px;" class="alert alert-danger">
          {{errorMessage}}
        </div>
      </section>
      <!-- /.content -->
      <div class="text-center successMessage" *ngIf="projectAdded">
        <h2>Le projet <span>'{{projectData.name}}'</span>  a bien été ajouté</h2>
      </div>
    </div>
    <!-- /.content-wrapper -->


