<div class="hold-transition sidebar-mini">
  <div class="wrapper">

  <!-- NAVBAR -->

  <app-navbar></app-navbar>

  <!-- SIDEMENU -->

  <app-sidemenu></app-sidemenu>

  <app-homemaincontent></app-homemaincontent>

      <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <strong>Copyright &copy; 2021 <a href="https://adminlte.io">Project Management System</a>.</strong>
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 0.0.1
      </div>
    </footer>

  </div>

</div>
